.SelectAmount {
  margin-top: 3rem;
}

.Title {
  color: var(--white);
  padding-bottom: 0.8rem;
}

.Amounts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 1.6rem;
  margin-top: 0.5rem;
}

.Radio {
  display: none;
}
.RadioWrapper {
  margin-right: 0.5rem;
}

.Radio:checked + label {
  background-color: var(--white);
  color: var(--dark-blue);
}

.Radio + label {
  cursor: pointer;
  color: var(--white);
  height: 90%;
  border-radius: 5rem;
  padding: 0.4rem 1rem;
  border: 1px solid var(--dark-blue);
  transition: all ease-in-out 0.1s;
  font-weight: bold;
}

.Radio + label:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

@media (min-width: 499px) {
  .Amounts {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.5rem;
  }
}
