* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #21213b;
  --medium-blue: #2f2f4f;
  --soft-blue: #708aff;
  --blue-sky: #1865f2;
  --white: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--dark-blue);
  height: 100vh;
}
fieldset {
  border: 0;
  padding-block-start: 0;
  margin-inline-end: 0;
  padding-block-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
@media (min-width: 992px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
